replicaCount: 2
image:
  repository: public.ecr.aws/j9e2f6x4/hello-svc
  pullPolicy: IfNotPresent
  tag: e66021cc11b2d79c7d8d4d817de66e41cab3a890
service:
  type: ClusterIP
  port: 80
  name: hello
podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
ingress:
  enabled: false
livenessProbe:
  httpGet:
    path: /hello
    port: http
readinessProbe:
  httpGet:
    path: /hello
    port: http
serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  
